.table {
  border-collapse: collapse;
  width: 100%;
}

.headRow,
.bodyRow {
  & > * {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  &:nth-child(even) {
    background-color: #dddddd;
  }
}

.bodyRow {
  cursor: pointer;
  &:hover,
  &.currentCart {
    background-color: rgb(68, 68, 255);
    color: white;
  }
}
