.table {
  border-collapse: collapse;
  width: 100%;
}

.headRow,
.bodyRow {
  & > * {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  &:nth-child(even) {
    background-color: #dddddd;
  }
}

.bodyRow {
  cursor: pointer;

  &:hover,
  &.currentCart {
    background-color: rgb(68, 68, 255);
    color: white;
  }
}

.button {
  background-color: rgb(68, 68, 255);
  border: 1px solid rgb(68, 68, 255);
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  width: 6rem;

  &:hover {
    background-color: white;
    color: rgb(68, 68, 255);
  }
}
